body {
  font-family: Arial;
  margin: 0;
}

.row {
  width: 100%;
}

.row-amarillo {
  background: #E0C31B;
}

.content {
  width: 1000px;
  margin: 0 auto 0 auto;
}

.enlaces {
  margin: 0;
  padding: 0;
}

.enlace-arriba {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}

.enlace-arriba a {
  color: #000000;
  text-decoration: none;
}

.enlace-arriba a:hover {
  text-decoration: underline;
}

.enlace-arriba-club {
  background: #000000;
  color: white !important;
  text-transform: uppercase;
  padding: 3px 5px;
  border-radius: 4px;
}

.titulo-principal {
  margin: 0;
}